{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% trans 'Download Manager Service' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/twitter-bootstrap/bootstrap.css"
          rel="stylesheet">
    <link href="{{ STATIC_URL }}css/social.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/twitter-bootstrap/bootstrap-responsive.css"
          rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <style>
        .wraper #main {
            margin-top: 40px;
        }

        #main {
            margin-left: 0;
        }

        .social-navbar {
            left: 0;
        }
    </style>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<!-- We add the sidebar-full class to the wrapper
This is necessary for padding on left the navbar and
the bady content -->
<div class="wraper">
    <header>
        <nav class="navbar navbar-blue navbar-fixed-top social-navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">{% trans 'Download Manager Service' %}</a>
                </div>
            </div>
        </nav>
    </header>
    {% block body %}
        <div id="main">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="page-title">
                            {% block content_title %}{% endblock %}
                        </h3>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="well span12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>


<!-- Le javascript -->
<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}js/twitter-bootstrap/bootstrap.js"></script>
</body>

</html>