{% extends 'accounts/base_userena.html' %}
{% load bootstrap %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div class="span4"></div>
    <div class="span4">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Signin" %}</legend>

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                {% for field in form %}
                    {% if field.name == 'remember_me' %}
                        <div class="checkbox">
                            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                        </div>
                    {% else %}
                        <p>
                            {{ field|bootstrap }}
                        </p>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-actions">
                <input type="submit" value="{% trans "Signin" %}" />
            </div>

            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        </form>
    </div>
    <div class="span4"></div>
{% endblock %}