{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% trans 'Download Manager Service' %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="{{ STATIC_URL }}css/twitter-bootstrap/bootstrap.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/social.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/twitter-bootstrap/bootstrap-responsive.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/social.plugins.css" rel="stylesheet"/>
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
  <style>

  .wraper #main{
    margin-top: 40px;
  }
  </style>


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <![endif]-->

    {% block css %} {% endblock %}

    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/twitter-bootstrap/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    </head>
    <body>
    <!-- We add the sidebar-full class to the wrapper
    This is necessary for padding on left the navbar and
    the bady content -->
    <div class="wraper sidebar-full">
      <!-- /////////////////////////////////////////////////////////////////////// -->
    <!-- We indicate to the social sidebar that we want to use
    the full width mode -->
    <aside class="social-sidebar sidebar-full">
      <!-- START the use settings section -->

      <!-- END the use settings section -->
      <!-- Now we have se social sidebar content -->
      <!-- We use nanoScroller, then it's necessary the
      basic markup structure for this plugin
      http://jamesflorentino.github.io/nanoScrollerJS/ -->
      <div class="social-sidebar-content nano">
        <div class="content">
          <!-- The user name and avatar section -->
          <div class="user">
            <img class="avatar" width="25" height="25" src="{{ user.get_profile.picture }}" alt="{{ user.username }}">
            <span data-toggle="dropdown">{{ user.username }}</span>
            <!-- This is the trigger for the user settings menu -->
            <i class="icon-user trigger-user-settings"></i>
          </div>

          <div class="clearfix"></div>
          <!-- START the menu content section -->
          <section class="menu">
            <!-- We use accordion for the menu -->
            <div class="accordion" id="accordion2">
              <!-- If you want that a top item activated you must add the active
              class as shown in the next line and add the opened class next to
              the accordion-toggle class -->
              {% block side_menu %}
                  <div class="accordion-group active">
                      <div class="accordion-heading">
                          <!-- ... and opened -->
                          <a class="accordion-toggle opened" data-toggle="collapse" data-parent="#accordion2" href="#collapse-form-stuff">
                              <img src="{{ STATIC_URL }}img/icons/stuttgart-icon-pack/32x32/sitemap.png" alt="{% trans 'Functionalities' %}">
                              <span>{% trans 'Functionalities' %}</span>
                              <!-- You can add a badge -->
                              <!-- <span class="badge">3</span> -->
                              <!-- or an arrow -->
                              <span class="arrow"></span>
                          </a>
                      </div>
                      <!-- The top item children -->
                      <ul id="collapse-form-stuff" class="accordion-body collapse nav nav-list collapse in">
                          <!-- An active child -->
                          <li class="active"><a href="{% url core_add_request %}">{% trans 'Request a download' %}</a></li>
                          <li><a href="{% url core_requests %}">{% trans 'My requests' %}</a></li>

                          {% if perms.request_status.can_approve_download %}
                              <li><a href="{% url core_approve_requests %}">{% trans 'Approve downloads' %}</a></li>
                          {% endif %}

                          {% if perms.request.can_modify_priority %}
                              <li><a href="{% url core_queue %}">{% trans 'Downloads queue' %}</a></li>
                          {% endif %}
                      </ul>
                  </div>
              {% endblock %}
            </div>
          </section>
          <!-- END the menu content section -->
        </div>
      </div>
    </aside>
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <header>
      <nav class="navbar navbar-blue navbar-fixed-top social-navbar">
       <div class="navbar-inner">
         <div class="container-fluid">
          <!-- This is the button that shows the social sidebar in tablets an phones -->
          <!-- Responsive navbar -> http://twitter.github.io/bootstrap/components.html#navbar -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".social-sidebar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="#">
             {% trans 'Download Manager Service' %}</a>
             <ul class="nav pull-right nav-indicators">
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-caret-down"></i></a>
                     <ul class="dropdown-menu">
                         <li><a href="{% url logout %}"><i class="icon-off"></i>{% trans 'Signout' %}</a></li>
                     </ul>
                 </li>
             </ul>
        </div>
      </div>
    </nav>
  </header>
  <div id="main">
    <div class="container-fluid">
      <div class="row-fluid">

          <div class="span12">
              <p></p>
            <ul class="breadcrumb">
                {% for breadcumb in request.breadcrumbs %}
                    <li>
                        <a href="{{ breadcumb.url }}">{{ breadcumb.name }}</a>

                        {% if not forloop.last %}
                            <span class="icon-angle-right"></span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

              <h3 class="page-title">
                  {% block page_title %}{% endblock %}
              </h3>
          </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>
</div>



<!-- Le javascript -->
{% block js %} {% endblock %}
    <script src="{{ STATIC_URL }}js/extents.js"></script>
    <!-- Iteractivity for the sidebar features -->
    <script src="{{ STATIC_URL }}js/sidebar.js"></script>
</body>

</html>