/*!
 * Social v1.1.0
 * Plugins Examples
 *
 * Copyright 2013 CesarLab.com
 * License http://themeforest.net/licenses
 *
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*! ============================================================
 * TimeLine Example
 * ============================================================ */
#social-timeline .social-box {
  border: none;
}
#social-timeline .social-composer form {
  margin: 0;
}
#social-timeline .media.social-box.with-heading .social-users-avatars {
  margin-top: 36px;
}
#social-timeline .media.social-box.social-composer textarea {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
#social-timeline .media.social-box.social-composer .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#social-timeline .media.social-box {
  background: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#social-timeline .media.social-box .social-users-avatars img {
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#social-timeline .media.social-box .media-body.social-body {
  padding: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 2px rgba(196, 197, 201, 0.75);
  -moz-box-shadow: 0px 1px 2px rgba(196, 197, 201, 0.75);
  box-shadow: 0px 1px 2px rgba(196, 197, 201, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#social-timeline .media.social-box .media-body.social-body .social-heading {
  color: #939AA4 !important;
  font-size: 11.9px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 6px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
#social-timeline .media.social-box .media-body.social-body .social-time-publication {
  color: #939AA4 !important;
  font-size: 11.9px;
}
#social-timeline .media.social-box .media-body.social-body .social-share-image {
  margin: -10px;
  color: #ffffff !important;
  position: relative;
}
#social-timeline .media.social-box .media-body.social-body .social-share-image h1,
#social-timeline .media.social-box .media-body.social-body .social-share-image h2,
#social-timeline .media.social-box .media-body.social-body .social-share-image h3,
#social-timeline .media.social-box .media-body.social-body .social-share-image h4,
#social-timeline .media.social-box .media-body.social-body .social-share-image h5,
#social-timeline .media.social-box .media-body.social-body .social-share-image h6 {
  margin: 0;
}
#social-timeline .media.social-box .media-body.social-body .social-share-image img {
  display: block;
  width: 100%;
  height: auto;
}
#social-timeline .media.social-box .media-body.social-body .social-share-image .social-share-image-text {
  position: absolute;
  left: 10px;
  top: 5px;
}
#social-timeline .media.social-box .media-body.social-body .social-share-video {
  color: #ffffff !important;
}
#social-timeline .media.social-box .media-body.social-body .social-share-video h1,
#social-timeline .media.social-box .media-body.social-body .social-share-video h2,
#social-timeline .media.social-box .media-body.social-body .social-share-video h3,
#social-timeline .media.social-box .media-body.social-body .social-share-video h4,
#social-timeline .media.social-box .media-body.social-body .social-share-video h5,
#social-timeline .media.social-box .media-body.social-body .social-share-video h6 {
  margin: 0;
}
#social-timeline .media.social-box .media-body.social-body .social-share-video img {
  display: block;
  height: auto;
  width: 100%;
}
#social-timeline .media.social-box .media-body.social-body .social-share-video .social-share-video-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#social-timeline .media.social-box .media-body.social-body .social-share-video .social-share-video-wrapper:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url(../img/examples/social-timeline/media-play.png);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  border-radius: 2em;
  border-radius: 50px;
}
#social-timeline .media.social-box .media-body.social-body .social-share-video .social-share-video-text {
  left: 10px;
  bottom: 0;
  position: absolute;
}
#social-timeline .media.social-box .media-body.social-body .social-footer {
  background-color: #FAFCFB;
  border-top: 1px solid #e6e6e6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  padding-bottom: 7px;
}
#social-timeline .media.social-box .media-body.social-body .social-footer .social-controls,
#social-timeline .media.social-box .media-body.social-body .social-footer .social-info-users {
  color: #939AA4 !important;
  font-size: 11.9px;
}
#social-timeline .media.social-box .media-body.social-body .social-footer .social-controls {
  font-weight: bold;
  padding-bottom: 6px;
}
#social-timeline .media.social-box .media-body.social-body .social-footer .social-controls span {
  cursor: pointer;
  margin-right: 10px;
}
#social-timeline .media.social-box .media-body.social-body .social-footer .social-info-users {
  padding-top: 7px;
  border-top: 1px solid #e6e6e6;
}
#social-timeline .media.social-box .media-body.social-body .social-footer .social-comments {
  margin-top: 7px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
#social-timeline .media.social-box .media-body.social-body .social-footer .social-comments img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#social-timeline #left-bar #people-you-may-know img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 480px) {
  #social-timeline .media.social-box.social-composer .social-users-avatars {
    display: none;
  }
  #social-timeline .media.social-box.social-composer .media-body.social-body {
    padding-bottom: 0;
  }
  #social-timeline .media.social-box.social-composer .social-footer {
    display: inline-table;
    width: 100%;
    margin-bottom: -10px;
  }
  #social-timeline .media.social-box.social-composer .social-footer .btn-group {
    float: left;
  }
  #social-timeline .media.social-box.social-composer .social-footer .btn.pull-right {
    float: right;
  }
  #social-timeline .media.social-box {
    position: relative;
  }
  #social-timeline .media.social-box .media-heading {
    position: absolute;
    top: 0;
    right: 0;
    left: 65px;
    display: block;
    padding: 17px 0px;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
  #social-timeline .media.social-box .pull-left {
    float: left;
  }
  #social-timeline .media.social-box .social-users-avatars {
    float: none;
    margin-bottom: 0;
  }
  #social-timeline .media.social-box .social-users-avatars img {
    display: inline-block !important;
  }
  #social-timeline .media-body.social-body .social-share-video2 .social-share-video-wrapper:after {
    background-size: 50px;
  }
}
