{% load bootstrap %}
{% load i18n %}
{% load widget_tweaks %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans 'Add URL' %}</h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    {{ form.url|add_class:"span12"|bootstrap }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    {{ form.username|add_class:"span12"|bootstrap }}
                </div>
                <div class="span6">
                    {{ form.password|add_class:"span12"|bootstrap }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="button" class="btn btn-primary">{% trans 'Ok' %}</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript" src="{{ STATIC_URL }}js/js/add-url.js"></script>