{% extends 'core/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load bootstrap %}


{% block page_title %} {% trans 'New request' %} {% endblock %}

{% block content %}
    <form method="post" class="well">
        {% csrf_token %}

        <div class="row-fluid">
            <div class="span6">
                {{ form.name|append_attr:"autocomplete:off"|add_class:"span12"|bootstrap }}
                {{ form.tags|add_class:"span12"|bootstrap }}
            </div>


            <div class="span6">
                {{ form.description|add_class:"span12"|bootstrap }}
                {{ form.partial|bootstrap }}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12 form-actions">
                <button class="btn pull-right btn-primary">{% trans 'Ok' %}</button>
                <button class="btn pull-right btn-link">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/js/updater.js"></script>
{% endblock %}