{% extends 'core/base.html' %}

{% load i18n %}

{% block page_title %}{% trans 'Approve requests' %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax-post.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base64.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables//media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tables.dynamic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-tagit/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/js/approve-requests.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/datatables//media/DT_bootstrap.css">
{% endblock %}

{% block content %}
    <div class="row-fluid well span11">
        <div class="span11">
            <table class="table">
                 <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Owner' %}</th>
                        <th>{% trans 'Created at' %}</th>
                        <th>{% trans 'Tags' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Options' %}</th>
                    </tr>
                 </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block side_menu %}
    <div class="accordion-group active">
        <div class="accordion-heading">
            <!-- ... and opened -->
            <a class="accordion-toggle opened" data-toggle="collapse" data-parent="#accordion2" href="#collapse-form-stuff">
                <img src="{{ STATIC_URL }}img/icons/stuttgart-icon-pack/32x32/sitemap.png" alt="{% trans 'Functionalities' %}">
                <span>{% trans 'Functionalities' %}</span>
                <!-- You can add a badge -->
                <!-- <span class="badge">3</span> -->
                <!-- or an arrow -->
                <span class="arrow"></span>
            </a>
        </div>
        <!-- The top item children -->
        <ul id="collapse-form-stuff" class="accordion-body collapse nav nav-list collapse in">
            <!-- An active child -->
            <li><a href="{% url core_add_request %}">{% trans 'Request a download' %}</a></li>
            <li><a href="{% url core_requests %}">{% trans 'My requests' %}</a></li>

            {% if perms.request_status.can_approve_download %}
                <li class="active"><a href="{% url core_approve_requests %}">{% trans 'Approve downloads' %}</a></li>
            {% endif %}

            {% if perms.request.can_modify_priority %}
                <li><a href="{% url core_queue %}">{% trans 'Downloads queue' %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}