{% load bootstrap %}
{% load i18n %}
{% load widget_tweaks %}


<div class="modal fade message-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Confirm' %}</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        {% trans 'Are you sure you want to remove this item?' %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'No' %}</button>
                <button type="button" class="btn btn-remove btn-danger">{% trans " Yes, I'm sure" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


