{% extends 'core/base.html' %}
{% load i18n %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax-post.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base64.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables//media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tables.dynamic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/js/urls.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/datatables//media/DT_bootstrap.css">
{% endblock %}

{% block page_title %} {% trans 'URLs' %} {% endblock %}

{% block content %}
    <input type="hidden" id="request" value="{{ id }}"/>

    {% include 'core/message.html' %}

    <div class="modal fade url-form">
        {% include 'core/add-url.html' %}
    </div><!-- /.modal -->

    <div class="row-fluid">
        <div class="span11">
            <button data-toggle="modal" data-target=".url-form" class="pull-right btn btn-primary">{% trans 'Add' %}</button>
        </div>
    </div>

    <div class="row-fluid well span11">
        <div class="span11">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'URL' %}</th>
                        <th>{% trans 'Username' %}</th>
                        <th>{% trans 'Password' %}</th>
                        <th>{% trans 'Operations' %}</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}